<div class='container'>
  <h1 class='mb-5 p-4 index-title'>My Tasks</h1>

  <ul id='index_ul'>
    <% @tasks.each do |task| %>
      <li class='mb-2'>
        <% if task.completed %>
          <i class="fa-regular fa-square-check"></i>
        <% else %>
          <i class="fa-regular fa-square"></i>
        <% end %>
        <%= link_to task.title, task_path(task) %>
        -
        <a data-turbo-method="delete" data-turbo-confirm="Are you sure?" href="/tasks/1"><i class="fa-solid fa-trash-can"></i></a>


      </li>
    <% end %>
  </ul>

  <div class='mt-5'>
    <hr>
    <%= link_to 'Add new task', tasks_new_path %>
  </div>
</div>
